.header-container {
  background-color: #424242;
  color: #eaeaea;
  width: 24em;
  height: 4em;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-container:after {
  top: 100%;
  left: 87%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(66, 66, 66, 0);
  border-top-color: #424242;
  border-width: 10px;
  margin-left: -10px;
}
