@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap");

.App {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 24em;
  margin: 15px auto;
  border: 0.3px var(--light-grey) solid;
  border-radius: 5px;
  padding-bottom: 2em;
  color: var(--grey);
  font-weight: 600;
}

input[type="number"] {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form-item {
  width: 8em;
  height: 3em;
  margin: 0 10px;
  padding: 0;
  border: 0.5px var(--light-grey) solid;
  border-radius: 5px;
  font: 700 17px "Open Sans";
}

.donate-button {
  background-color: var(--green);
  color: white;
  border: unset;
}

span {
  color: var(--orange);
  font-weight: 700;
}

em {
  color: var(--blue);
  margin: 1em 0 0 3em;
  font-weight: 600;
}

.button-container {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 24em;
}

.grey-buttons {
  margin: 0 20px 0 0;
  background-color: #f9fafb;
  color: var(--grey);
  border: 0.5px var(--light-grey) solid;
  border-radius: 5px;
  height: 3em;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
}
