body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", arial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --bar: 0%;
  --blue: #20a1d4;
  --green: #1cbc2c;
  --orange: #ef5f3c;
  --black: #424242;
  --grey: #777;
  --light-grey: #eaeaea;
}

p {
  margin: 1em 3em;
}

strong {
  font-weight: 800;
}
